@font-face {
    font-family: "neue machina";
    src: url("/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
    font-family: "neue machina ultrabold";
    src: url("/NeueMachina-Ultrabold.otf") format("opentype");
}

@font-face {
    font-family: "raleway";
    src: url("/Raleway-Regular.ttf") format("opentype");
}

.blocoCadastro {
    color: #FFFAFA;
    background-color: #2444B5;
    width: 73.2vw;
    height: 85.8vh;
    border-radius: 1.17em;
    position: absolute;
    left: 18.3vw;
    top: 34.3vh;
}

.titleBlocoCadastro {
    text-align: center;
    font-family: neue machina ultrabold;
    font-size: 2em;
    padding-top: 1.25em;
    position: relative;
    top: 1.12em;
}

.inputsBlocoCadastro {
    font-family: raleway;
    padding: 1.875em;
    font-size: 0.9375em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.inputsBlocoCadastro input {
    font-family: raleway;
    color: #555555;
    font-size: 1em;
    width: 3.66em;
    height: 2.81em;
    background-color: #fffafa;
    border-radius: 0.44em;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-top: 0.44em;
    padding-left: 0.625em;
}

.blocosInputBlocoCadastro {
    margin-top: 1.56em;
}

.inputNome input {
    width: 40.25vw;
    margin-right: 1.83vw;
}

.inputUser input {
    width: 24.96vw;
}

.inputEmail input {
    width: 26.35vw;
    margin-right: 1.83vw;
}

.inputID input {
    width: 18.08vw;
    margin-right: 1.83vw;
}

.inputTel input {
    width: 18.08vw;
}

.inputSenha input {
    width: 26.35vw;
    margin-right: 1.83vw;
}

.inputAreas input {
    width: 38.88vw;
}

.blocoTextosProibidos {
    font-family: neue machina;
    font-size: 0.9375em;
    margin-top: 0;
    margin-left: 2.19vw;
    position: relative;
    top: -0.625em;
    left: 0.31vw;
}

.textosProibidos {
    display: flex;
    align-items: center;
    gap: 0.31vw;
    margin-bottom: 0.9375em;
}

.botaoContinuar {
    font-family: neue machina;
    font-size: 1.56em;
    width: 15.52vw;
    height: 9.67vh;
    position: relative;
    top: -9.36vh;
    left: 55.27vw;
    border: none;
    border-radius: 2.5em;
    color: black;
    background-color: #99E626;
    transition: border-radius 0.3s ease;
}

.botaoContinuar:hover {
    font-family: neue machina;
    font-size: 1.56em;
    width: 15.52vw;
    height: 9.67vh;
    position: relative;
    top: -9.36vh;
    left: 55.27vw;
    border: none;
    border-radius: 0.625em;
    color: black;
    background-color: #99E626;
}

.gekkoCadastro {
    position: relative;
    top: 6.24vh;
    left: 87.84vw;
    width: 29.28vw;
}

.gekkoCadastro img {
    height: 112.33vh;
}
