@font-face 
{
    font-family: "neue machina";
    src: url("/NeueMachina-Regular.otf") format("opentype");
}
@font-face {
    font-family: RalewayRegular;
    src: local(RalewayRegular), url(../../assets/raleway/Raleway-Regular.ttf);
}

.portfolio-topo {
    display: flex;
    justify-content: space-between;
}

.portfolio-topo h3{
    font-family: RalewayRegular;
    font-weight: 300;
    color: #3D3B3A;
    font-size: 25px;
}

.trabalhos-imagens {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    display: flex;
  }

.trabalhos-imagens img{
    height: 39.498vh;
    width: 33.359vw;
    justify-content: space-around;
  }
