.campo {
    width: 13.981vw;
    height: 5.397vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.529vw;
    margin-top: 3.092vh;
    padding: 2px;
    
}

.imagemCampo img {
    max-height: 5.397vh;
}

.campo p {
    margin-left: 1vw;
}