@font-face {
    font-family: "raleway";
    src: url("../public/Raleway-Regular.ttf");
}

@font-face {
    font-family: "neopixel";
    src: url("../public/NEOPIXEL-Regular\ \(1).otf") format("opentype");
}

.opcoes p {
    font-family: "raleway";
}

.logo h1{
    font-family: "neopixel";
    color: aqua;
}