@font-face {
    font-family: NeueMachinaRegular;
    src: local(NeueMachina), url(../assets/NeueMachina-Regular.otf);
}

@font-face {
    font-family: NeueMachinaUltrabold;
    src: local(NeueMachina), url(../assets/NeueMachina-Ultrabold.otf);
}

.PaginaPreCadastro
{
    font-family: NeueMachinaRegular;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerPaginaPreCadastro
{
    display: flex;
    justify-content: center;
}

.textoPreCadastro
{
    font-size: 48px;
    width: 800px;
    text-align: center;
    position: relative;
    top: 110px;
}

.objetivoTextoPreCadastro
{
    font-family: NeueMachinaUltrabold;
}

.freelabTextoPreCadastro
{
    font-family: NeueMachinaUltrabold;
    color: #99E626;
}

.imagensTextoPreCadastro
{
    display: flex;
    gap: 100px;
    position: relative;
    top: 170px;
}

.imagensTextoPreCadastro div 
{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagensTextoPreCadastro img
{
    height: 290px;
    transition: height 0.5s ease;
}

.imagensTextoPreCadastro img:hover
{
    height: 300px;
}

.imagensTextoPreCadastro texto 
{
    font-size: 20px;
    width: 400px;
    text-align:center;
}
