@font-face {
    font-family: "neue machina";
    src: url("../assets/NeueMachina-Regular.otf") format("opentype");
}

.botaoVoltar {
    position: absolute;
    top: 2vh;
    left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botaoVoltar p{
    font-family: "neue machina";
    font-size: 22px;
    top: 2px;
    position: relative
}

.botaoVoltar img{
    height: 25px;
}

.botaoVoltar:hover{

    cursor: pointer;
}
