@font-face {
    font-family: NeueMachinaRegular;
    src: local(NeueMachina), url(../assets/NeueMachina-Regular.otf);
}

@font-face {
    font-family: NeueMachinaUltrabold;
    src: local(NeueMachina), url(../assets/NeueMachina-Ultrabold.otf);
}

.PaginaPreCadastro {
    font-family: NeueMachinaRegular;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerPaginaPreCadastro {
    display: flex;
    justify-content: center;
}

.textoPreCadastro {
    font-size: 2.3em;
    width: 50vw;
    text-align: center;
    position: relative;
    top: 12vh;
}


.freelabTextoPreCadastro {
    font-family: NeueMachinaUltrabold;
    color: #99E626;
}

.imagensTextoPreCadastro {
    display: flex;
    gap: 5vw;
    position: relative;
    top: 20vh;
}

.textoImagemSobreNos1 p {
    width: 25vw;
    margin-top: 3vh;
}

.textoImagemSobreNos1 img {
    height: 37vh;
    transition: height 0.5s ease;
}

.textoImagemSobreNos2 img {
    height: 40vh;
    transition: height 0.5s ease;
}

.imagensTextoPreCadastro div {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagensTextoPreCadastro img:hover {
    height: 45vh;
}

.imagensTextoPreCadastro a {
    color: black;
    font-size: 20px;
    width: 30vw;
    text-align: center;
    text-decoration: none;
}