@font-face {
    font-family: Neopixel;
    src: local(Neopixel), url(../assets/neopixelRegular.otf);
}

@font-face {
    font-family: NeueMachinaRegular;
    src: local(NeueMachina), url(../assets/NeueMachina-Regular.otf);
}
.textoBoasVindas{
    width: 10vw;
    position: absolute;
}

.retanguloAzul{
    background-color: #2444b5;
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.imagem{
    position: absolute;
    width: 380px;
    height: 526px;
}

p{
    font-family: NeueMachinaRegular;
    font-size: 21px;
}
