@font-face {
    font-family: "neopixel";
    src: url("/NEOPIXEL.otf") format("opentype");
}

@font-face {
    font-family: "neue machina";
    src: url("/NeueMachina-Regular.otf") format("opentype");
}

.titleHeader {
    font-family: neopixel;
    font-size: 90px;
}

.subtitleHeader {
    font-family: neue machina;
    font-size: 27px;
    color: #2444B5;
    width: 50vw;
    justify-content: center;
}

.subtitleHeader2 {
    display: flex;
    justify-content: center;
    height: 50px;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}