.campoSenha {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 16.3vw;
    height: 40px;
    border-radius: 8px;
    contain: strict;
    min-width: 150px
}

.campoSenha input {
    border: none;
    font-family: Raleway;
    font-size: 17px;
    outline: 0;
    width: 80%;
}

.campoSenha img {
    height: 30px;
    width: 35px;
    background-color: white;
}