@font-face {
  font-family: "neopixel";
  src: url("../public/NEOPIXEL-Regular\ \(1).otf") format("opentype");
}

@font-face {
  font-family: "neuemachina";
  src: url("../public/NeueMachina-Regular.otf") format("opentype");
}

.logo {
  font-family: "neopixel";
  font-size: 50px;
}

.headertexto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.acoesHeaderBoasVindas{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
}
.botoesHeaderBoasVindas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
}
header h3 {
  font-family: "neuemachina";
  font-weight: lighter;
}

.login {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(36, 68, 181);
  border-width: 0px;
  font-family: "neuemachina";
  font-size: 15px;
  color: white;
  text-decoration: underline
}

.criarconta {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border-width: 0px;
  background-color: rgb(153, 230, 38);
  font-family: "neuemachina";
  font-size: 15px;
  text-decoration: underline
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 95vw;
  position: relative;
  left: 2.5vw;
}
