@font-face 
{
    font-family: "neue machina";
    src: url("/NeueMachina-Regular.otf") format("opentype");
}
@font-face {
    font-family: RalewayRegular;
    src: local(RalewayRegular), url(../../assets/raleway/Raleway-Regular.ttf);
}
.links-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-tags .links a {
    font-family: RalewayRegular;
    color: #3D3B3A;
    margin-right: 3vh;
  }

.links h3{
    font-family: RalewayRegular;
    font-weight: 100;
    color: #646261;
    margin-bottom: 2vh;
}
  
.links-tags .tags span {
    background-color: #e0e0e0;
    font-family: RalewayRegular;
    margin-right: 3vh;
    color: #3D3B3A;
  }

.tags h3{
    font-family: RalewayRegular;
    font-weight: 100;
    color: #646261;
    margin-bottom: 2vh;
}

.tags{
    justify-content: space-between;
}

.design-grafico p{
    font-family: RalewayRegular;
    font-weight: 100;
    margin-bottom: 2vh;
    background-color: #F46A8E;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.motion-design p{
    font-family: RalewayRegular;
    font-weight: 100;
    margin-bottom: 2vh;
    background-color: #30A2F4;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.photoshop p{
    font-family: RalewayRegular;
    font-weight: 100;
    margin-bottom: 2vh;
    background-color: #105384;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.edicao-de-video p{
    font-family: RalewayRegular;
    font-weight: 100;
    margin-bottom: 2vh;
    background-color: #7385DB;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.premiere-pro p{
    font-family: RalewayRegular;
    font-weight: 100;
    margin-bottom: 2vh;
    background-color: #F4A630;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}